* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #000;
  font: 400 16px "Fahkwang", Arial, Helvetica, sans-serif;
  background-color: #f9f3ee;
}
a {
  color: inherit;
  text-decoration: none;
  transition: 0.4s;
}
ul li {
  list-style-type: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
button {
  display: block;
  border: none;
  font: inherit;
  background-color: transparent;
  transition: 0.4s;
  cursor: pointer;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.section-title {
  position: relative;
  display: inline-flex;
  padding-right: 40px;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}
.section-subtitle {
  display: block;
  font-size: 42px;
  font-weight: 600;
  text-transform: capitalize;
}
.section-title::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  width: 28px;
  height: 1px;
  background-color: #9b6842;
  transform: translateY(-50%);
}
.btn-primary {
  display: inline-flex;
  padding: 15px 25px;
  color: #fff;
  text-transform: capitalize;
  background-color: #3d3017;
}
.btn-primary:hover {
  background-color: #9b6842;
}

/* Banner */
.banner-wrap {
  position: relative;
  overflow: hidden;
  padding-top: 13px;
  background-color: rgba(204, 183, 167, 0.25);
}
.banner-wrap::before {
  position: absolute;
  content: "";
  top: 390px;
  right: -170px;
  width: 50%;
  height: 50%;
  background: url(img/after.png) 100% 0% / contain no-repeat;
  transform: rotate(270deg);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.header-logo__img,
.footer-info__img {
  width: 86px;
  height: 66px;
  border-radius: 95px;
}
.nav-main {
  margin: 0 140px 0 auto;
}
.nav-main__list {
  display: flex;
  gap: 30px;
}
.nav-main__link {
  font-weight: 600;
}
.nav-main__link_selected {
  text-decoration: underline;
  cursor: default;
}
.nav-main__link:not(.nav-main__link_selected):hover {
  color: #9b6842;
}
.cart-btn {
  position: relative;
  width: 19px;
  height: 25px;
  padding-right: 8px;
  background: url(img/badge.svg) 50%/100% no-repeat;
}
.cart-btn__badge {
  position: absolute;
  top: 2px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: #fff;
  font: 500 8px "Poppins", Arial, Helvetica, sans-serif;
  background-color: #bc0202;
}
#banner-section {
  position: relative;
  overflow: hidden;
  padding: 80px 0 318px;
}
.banner {
  max-width: 589px;
}
.banner__subtitle {
  display: block;
  margin: 8px 0 15px;
  font-size: 60px;
  font-weight: 600;
}
.banner__text {
  font-size: 20px;
  color: #000000;
  margin-bottom: 35px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-shadow: 1px, 1px, 1px, 1px;
}

#about-section {
  padding: 126px 0 81px;
}
.about-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.about-img {
  width: 50%;
}
.about {
  max-width: 570px;
}
.about__subtitle {
  margin: 3px 0 6px;
}
.about__text {
  margin-bottom: 35px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

/* Shop */
#shop-section {
  padding-bottom: 120px;
  text-align: center;
}
.shop__subtitle {
  margin: 2px 0 44px;
}
.shop-wrap {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.shop__img {
  width: 270px;
  height: 304px;
}
.shop__name {
  display: block;
  margin: 20px 0 10px;
  font-size: 20px;
}
.shop__price {
  display: block;
  font-size: 20px;
}
.shop__btn {
  margin: 25px auto 0;
  padding: 15px 25px;
  border: 1px solid #3d3017;
  color: #3d3017;
  text-transform: capitalize;
}
.shop__btn:hover {
  color: #fff;
  background-color: #3d3017;
}

/* Feedback */
#feedback-section {
  position: relative;
  overflow: hidden;
  padding: 100px 0;
  background-color: rgba(204, 183, 167, 0.25);
}
#feedback-section::before {
  position: absolute;
  content: "";
  bottom: 37px;
  left: 0;
  width: 422px;
  height: 426px;
  opacity: 0.1;
  background: url(img/отзыв3.jpg) 0% 100% / contain no-repeat;
}
.feedback {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 85px;
}
.feedback__btn_back,
.feedback__btn_fwd {
  position: absolute;
  top: 50%;
  left: 2px;
  width: 20px;
  height: 38px;
  background: url(img/btn-back.svg) 50%/100% no-repeat;
  transform: translateY(-50%);
}
.feedback__btn_fwd {
  left: auto;
  right: 2px;
  background-image: url(img/btn-fwd.svg);
}
.feedback__img {
  width: 408px;
  height: 430px;
}
.feedback-info {
  position: relative;
  max-width: 607px;
  padding-top: 83px;
  text-align: center;
}
.feedback-info::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  width: 58px;
  height: 43px;
  background: url(img/quotes.svg) 50%/100% no-repeat;
  transform: translateX(-50%);
}
.feedback-info::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 154px;
  height: 124px;

  transform: translate(-50%, -50%);
}
.feedback__text {
  margin-bottom: 17px;
  font-size: 20px;
  line-height: 38px;
}
.feedback__name {
  display: block;
  margin-bottom: 10px;
  color: #3d3017;
  font-size: 22px;
  font-weight: 600;
}
.feedback__position {
  font-size: 20px;
}

/* Blog */
#blog-section {
  padding: 120px 0;
  text-align: center;
}
.blog__subtitle {
  margin: 2px 0 43px;
}
.blog {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

/* News */
#news-section {
  padding-bottom: 120px;
}
.news-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.news-img {
  width: 50%;
  border-radius: 20px;
}
.news__text {
  margin: 24px 0 37px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.news-form {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #3d3017;
}
.news-form__input {
  flex-grow: 1;
  padding: 15px;
  border: none;
  outline: none;
  color: inherit;
  font: inherit;
  background-color: transparent;
}
.news-form__input::placeholder {
  color: #000;
}
.news-form__btn {
  width: 53px;
  height: 51px;
  background: #3d3017 url(img/envelope.svg) 50%/26px 20px no-repeat;
}

/* Footer */
#footer-section {
  padding-top: 80px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: rgba(204, 183, 167, 0.25);
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.footer-info__text {
  max-width: 449px;
  margin: 25px 0;
}
.footer-social {
  display: flex;
  gap: 12px;
}
.footer-social__link {
  display: block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #3d3017 50%/70% no-repeat;
  opacity: 0.8;
}
.footer-social__link:nth-child(1) {
  background-image: url(img/fb.svg);
}
.footer-social__link:nth-child(2) {
  background-image: url(img/instagram.svg);
}
.footer-social__link:nth-child(3) {
  background-image: url(img/youtube.svg);
}
.footer-social__link:nth-child(4) {
  background-image: url(img/pinterest.svg);
}
.footer-nav-wrap {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  padding-top: 14px;
}
.footer__title {
  margin-bottom: 15px;
  color: #3d3017;
  font-size: 18px;
  text-transform: capitalize;
}
.footer-nav__item {
  margin-bottom: 10px;
}
.footer-nav__link:hover {
  color: #9b6842;
}
.footer-blog {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  padding-top: 14px;
}
.footer-blog:last-child {
  margin-bottom: 0;
}
.footer-blog__img {
  width: 73px;
  height: 82px;
}
.footer-blog__link {
  display: block;
  max-width: 182px;
  margin-bottom: 10px;
  line-height: 24px;
}
.footer-blog__date {
  font-size: 14px;
  line-height: 24px;
}
.footer-line {
  margin-top: 63px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
}
.footer-copyright {
  padding: 9px 0 7px;
  font-size: 14px;
  text-align: center;
}
